/node_modules
/public/fonts
/public/images
/public/css
/public/js
/public/hot
/public/mix-manifest.json
/public/storage
/public/profile
/resources/assets/js/ziggy.js
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
