.fixedCountdown {
    position: fixed;
    right: 0;
    z-index: 900000;
    top: 10px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(39, 38, 38);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 4px 6px rgb(43, 42, 42);
}
.calcspace {
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 100px;
    width: 300px;
    height: 400px;
}
@media only screen and (max-width: 600px) {
    .calcspace {
        /* bottom: 0; */
        right: 0;
        height: 100%;
        width: 100%;

        top: 0;
    }
}
.ant-layout-sider .greylogo {
    max-width: 150px;
    min-width: 55px;
    width: 100%;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 0px 16px 25px;
    float: left;
}
.ant-layout-sider-collapsed .greylogo {
    margin: 16px 0px 16px 12px;
    width: 20%;
    font-size: 14 !important;
}

.ck-editor__editable {
    color: black !important;
}
.site-page-header-ghost-wrapper {
    padding: 24px;
}
.site-layout-background {
    background: #fff !important;
}
.ck-editor__editable_inline {
    min-height: 100px;
}
.prpbut {
    background: #7971ea !important;
    border-color: #7971ea !important;
    color: white !important;
}
.milabel {
    color: #7971ea;
}
/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #ffffff, #ffffff);
    z-index: 9999999;
}

#preloader #status {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#preloader #status .spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

#preloader #status .spinner .double-bounce1,
#preloader #status .spinner .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #2f55d4;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
}

#preloader #status .spinner .double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
